doctype html
html
    head
        title Pagina de prueba con pug
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./static/Vendor/Bootstrap/css/bootstrap.min.css")
    body

        -var grad_titulo = ["col-sm-8", "col-md-8", "col-lg-8", "col-xl-8"];
        -var nav_bar = ["navbar", "navbar-dark", "bg-dark"];
        
        nav(class=nav_bar)
                    a(href="index.html", class="navbar-brand") Fernando Quintero
        .container
            .row
                div(class=grad_titulo)
                    h1 Este es un titulo 
                        small Este un minititulo
                
        block content

        footer


        script(src="./static/Vendor/jquery/jquery-3.3.1.min.js")
        script(src="./static/Vendor/Bootstrap/js/bootstrap.min.js")