.banner1{
    max-height: 400px;
    opacity: 0.4;
}
.banner2{
    max-height: 200px;
    opacity: 0.4;
}
.card h2{
    font-weight: 900;
    color: black;
    text-shadow: 2px 2px white;
}
.card p{
    color: black;
    font-weight: 500;
    font-size: 18px;
    text-shadow: 2px 2px white;
}
.card button{
    font-weight: 800;
}
