.card-header{
    color: white;
    background: linear-gradient(to right, #20d63e,  rgb(104, 104, 226));
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.divisor{
    height: 2px;
    background:rgb(104, 104, 226);
}