doctype html
html  
    head
        title This is my first Pug file
    body
        header
            p My soon to be menu
        section
            p This is a post about Pug template engine, enjoy it!
        - var MisClases = ["container", "fluid"] 
        div.ol(class=MisClases)   
        footer
            cool footer with lots of copyrights