extends basic.pug
block content
    .container.mt-3
        .row
            div(class='col-sm-12')
                h3 ¡Agrega tu actividad!
            div(class='d-none d-lg-block col-lg-4 col-xl-3')                
                img(src="/css/panamatrips.png", alt="logo", height="250", width='100%', class='rounded-circle shadow')
            div(class='col-sm-12 col-md-12 col-lg-8 col-xl-9')
                .card.shadow-lg.mb-3
                    .card-header 
                        span(class='fa fa-users fa-1x') ¡Se parte de Panama Trips!
                    .card-body
                        .container
                            .row 
                                h3.col-sm-12 PanamaTrips!
                            form(action="/insertar_act", method='post')
                                div(class='form-group row') 
                                    label(class='col-sm-2 col-form-label') Seleccione las imagenes:
                                    .col-sm-10
                                        input#uploadImage(type='file', name='myPhoto', onchange='PreviewImage();')
                                div(class='form-group row') 
                                    label(class='col-sm-2 col-form-label') Nombre de la actividad:
                                    .col-sm-10
                                        input(type="text", class='form-control', name='nombreact', placeholder='Coloque el nombre')
                                div(class='form-group row') 
                                    label(class='col-sm-2 col-form-label') Descripcion:
                                    .col-sm-10
                                        textarea#exampleFormControlTextarea1.form-control(rows='3', name="descrip")
                                div(class='form-group row') 
                                    label(class='col-sm-2 col-form-label', for='provincias') Provincia:
                                    .col-sm-10
                                        select(class='form-control', name='provincias')
                                            option(value='bocas') Bocas del Toro
                                            option(value='cocle') Coclé
                                            option(value='colon') Colón
                                            option(value='chiriqui') Chiriquí
                                            option(value='darien') Darién
                                            option(value='herrera') Herrera
                                            option(value='lossantos') Los Santos 
                                            option(value='panama') Panamá
                                            option(value='veraguas') Veraguas
                                            option(value='comarcas') Comarcas                            
                                div(class='form-group row') 
                                    label(class='col-sm-2 col-form-label', for='correoPersona') Telefonos y Correo:
                                    .col-sm-10
                                        input(type='text', class='form-control', name="contacto")
                                div(class='form-group row') 
                                    label(class='col-sm-3 col-form-label', for='contrasena') Habitaciones:
                                    .col-sm-10
                                        textarea#exampleFormControlTextarea1.form-control(rows='3', name='hab')
                                div(class='form-group row has-feedback')
                                    label(class='col-sm-3 col-form-label', for='contrasena') Precios:
                                    .col-sm-10
                                        input(type='text', name='precio', class='form-control pass')
                                select(class='form-control', name='sec')
                                            option(value='prexper') Precio por persona
                                            option(value='prexhab') Precio por habitación        
                                div(class='form-group row has-feedback')
                                    label(class='col-sm-3 col-form-label', for='contrasena2') Informacion Adicional:
                                    .col-sm-10
                                        input(type='text', name='infomas', class='form-control pass')
                                div(class='form-group row')
                                    .col-sm-12.d-flex.justify-content-end
                                        input.btn.btn-primary.btn-lg.active(type='submit', value='Guardar Datos')
                                    .col-sm-10
                                        a.btn.btn-primary(href='/admin/control', role='button').btn.btn-info Regresar al Panel de control
block scripts 
    script(src="/js/acciones.js")