extends basic.pug
block header
    link(rel="stylesheet", href="/css/inicio.css")
block content
    .container(class="mt-3")
        .row
            div(class="col-sm-12")
                h3 ¡Descubre los mejores trips de Panamá!
    //Carousel de imagenes
    .container-fluid(class="no-padding")
            div(class="col-sm-12 no-padding")
                div(id="controles", class="carousel slide", data-ride="carousel")
                    ol(class="carousel-indicators")
                        li(data-target="#indicadores", data-slide-to="0", class="active")
                        li(data-target="#indicadores", data-slide-to="1")
                        li(data-target="#indicadores", data-slide-to="2")
                    div(class="carousel-inner")
                        div(class="carousel-item active")
                            .carousel-caption
                                h2 TOP del mes
                                a(href="/ofertas", class='btn btn-info') Ver Oferta
                            img(src="/css/bocas-toro-panama.jpg", alt="Primera Oferta", class="d-block w-100")
                        div(class="carousel-item")
                            .carousel-caption
                                h2 TOP del mes
                                a(href="/ofertas", class='btn btn-info') Ver Oferta
                            img(src="/css/bocas-toro-panama.jpg", alt="Segunda Oferta", class="d-block w-100")
                        div(class="carousel-item")
                            .carousel-caption
                                h2 TOP del mes
                                a(href="/ofertas", class='btn btn-info') Ver Oferta
                            img(src="/css/bocas-toro-panama.jpg", alt="Tercera Oferta", class="d-block w-100")
                    a(class="carousel-control-prev" href="#controles" role="button" data-slide="prev")
                        span(class="carousel-control-prev-icon" aria-hidden="true")
                        span(class="sr-only") Anterior
                    a(class="carousel-control-next" href="#controles" role="button" data-slide="next")
                        span(class="carousel-control-next-icon" aria-hidden="true")
                        span(class="sr-only") Siguiente
    
    //Cuadros con informacion de la pagina
    .container    
        .row(class="mt-4 info")    
            div(class="col-sm-12 col-md-12 col-lg-4 col-xl-4 no-padding")
                img(class="img-fluid w-100 ", src="/css/bocas-toro-panama.jpg", alt="Imagen descriptiva")
            div(class="col-sm-12 col-md-12 col-lg-8 col-xl-8 pt-2")
                h4.mt-2 Titulo del articulo
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident libero optio reiciendis placeat officia nesciunt, est dolorum, in pariatur esse quo nisi voluptate a recusandae consectetur odit dolores. Consequatur, molestias!
        .row(class="info info-sec mt-5")
            div(class="col-sm-12 col-md-12 col-lg-8 col-xl-8 pt-2")
                h4.mt-2 Titulo del articulo
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident libero optio reiciendis placeat officia nesciunt, est dolorum, in pariatur esse quo nisi voluptate a recusandae consectetur odit dolores. Consequatur, molestias!
            div(class="col-sm-12 col-md-12 col-lg-4 col-xl-4 no-padding")
                img(class="img-fluid w-100 ", src="/css/bocas-toro-panama.jpg", alt="Imagen descriptiva")
    .container-fluid    
        //Cuadro de imagenes de abajo    
        .row(class="mt-5")
            div(class="col-sm-12 col-md-12 col-lg-7 col-xl-7 no-padding")
                div(class="card bd-dark text-whiter")
                    img(class="card-img banner1" src="/css/bocas-toro-panama.jpg" alt="Card image")    
                    div(class="card-img-overlay")
                        h2.card-title Provincia
                        p.card-text Promocion del viaje
                        button(class="btn btn-info") Mas Información
            div(class="col-sm-12 col-md-12 col-lg-5 col-xl-5 no-padding")
                div(class="card bd-dark text-whiter")
                    img(class="card-img banner2" src="/css/bocas-toro-panama.jpg" alt="Card image")    
                    div(class="card-img-overlay")
                        h2.card-title Provincia
                        p.card-text Promocion del viaje
                        button(class="btn btn-info") Mas Información
                div(class="card bd-dark text-whiter")
                    img(class="card-img banner2" src="/css/bocas-toro-panama.jpg" alt="Card image")    
                    div(class="card-img-overlay")
                        h2.card-title Provincia
                        p.card-text Promocion del viaje
                        button(class="btn btn-info") Mas Información